/**
 * NoNumber Page stylesheet
 *
 * @package         Tabs
 * @version         3.1.1
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/tabs/old.min.css
 */
.nn_tabs .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_tabs .fade.in {
  opacity: 1;
}
.nn_tabs .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.nn_tabs .collapse.in {
  height: auto;
}
.nn_tabs > .nav {
  padding: 0;
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nn_tabs > .nav > li > a {
  display: block;
}
.nn_tabs > .nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nn_tabs > .nav > .pull-right {
  float: right;
}
.nn_tabs .nav-tabs {
  zoom: 1;
  border-bottom: 1px solid #ddd;
}
.nn_tabs .nav-tabs:before {
  content: '';
  display: block;
}
.nn_tabs .nav-tabs:after {
  content: '';
  display: table;
  clear: both;
}
.nn_tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nn_tabs .nav-tabs > li > a {
  margin-right: 2px;
  padding: 8px 12px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nn_tabs .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nn_tabs .nav-tabs > li.active > a,
.nn_tabs .nav-tabs > li.active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nn_tabs .tab-content {
  overflow: visible;
}
.nn_tabs .tab-content > .tab-pane {
  display: none;
}
.nn_tabs .tab-content > .active {
  display: block;
}
.nn_tabs.oldschool > ul {
  margin: 5px 10px 0 10px !important;
  padding: 0 10px;
  line-height: 1em;
  zoom: 1;
  padding: 0 !important;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
  border: none !important;
}
.nn_tabs.oldschool > ul > li {
  float: left;
  margin: 5px 2px 0 0 !important;
  padding: 0;
  list-style: none !important;
  list-style-image: none !important;
  background: none !important;
}
.nn_tabs.oldschool > ul > li.active {
  margin-top: 0 !important;
}
.nn_tabs.oldschool > ul > li > a,
.nn_tabs.oldschool > ul > li > a:link,
.nn_tabs.oldschool > ul > li > a:visited,
.nn_tabs.oldschool > ul > li > a:active,
.nn_tabs.oldschool > ul > li > a:hover {
  color: #666666;
  outline: 0;
  text-decoration: none;
}
.nn_tabs.oldschool > ul > li > a,
.nn_tabs.oldschool > ul > li > a:hover {
  display: block;
  width: auto;
  _width: 0%;
  padding: 5px 5px 0 5px;
  height: 20px;
  _height: 25px;
  font-size: 14px;
  line-height: 1em !important;
  font-weight: bold;
  white-space: nowrap;
  border: solid 1px #bbbbbb;
  border-bottom: none;
  text-decoration: none !important;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.nn_tabs.oldschool > ul > li.blue > a,
.nn_tabs.oldschool > ul > li.blue > a:hover,
.nn_tabs.oldschool > ul > li.green > a,
.nn_tabs.oldschool > ul > li.green > a:hover,
.nn_tabs.oldschool > ul > li.red > a,
.nn_tabs.oldschool > ul > li.red > a:hover,
.nn_tabs.oldschool > ul > li.orange > a,
.nn_tabs.oldschool > ul > li.orange > a:hover,
.nn_tabs.oldschool > ul > li.grey > a,
.nn_tabs.oldschool > ul > li.grey > a:hover,
.nn_tabs.oldschool > ul > li.gray > a,
.nn_tabs.oldschool > ul > li.gray > a:hover,
.nn_tabs.oldschool > ul > li.primary > a,
.nn_tabs.oldschool > ul > li.primary > a:hover,
.nn_tabs.oldschool > ul > li.info > a,
.nn_tabs.oldschool > ul > li.info > a:hover,
.nn_tabs.oldschool > ul > li.success > a,
.nn_tabs.oldschool > ul > li.success > a:hover,
.nn_tabs.oldschool > ul > li.warning > a,
.nn_tabs.oldschool > ul > li.warning > a:hover,
.nn_tabs.oldschool > ul > li.danger > a,
.nn_tabs.oldschool > ul > li.danger > a:hover,
.nn_tabs.oldschool > ul > li.error > a,
.nn_tabs.oldschool > ul > li.error > a:hover {
  padding: 5px 5px 0 5px;
  border: solid 1px #bbbbbb !important;
  border-bottom: none;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.nn_tabs.oldschool > ul > li.active > a,
.nn_tabs.oldschool > ul > li.active > a:hover {
  color: #ffffff;
  background-color: #479add;
  background-image: -moz-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea8e4), to(#2384d3));
  background-image: -webkit-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -o-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: linear-gradient(to bottom, #5ea8e4, #2384d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ea8e4', endColorstr='#ff2384d3', GradientType=0);
}
.nn_tabs.oldschool > ul > li > a:hover {
  color: #333333;
  background-color: #8ec2ec;
  background-image: -moz-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0ccef), to(#74b4e8));
  background-image: -webkit-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: -o-linear-gradient(top, #a0ccef, #74b4e8);
  background-image: linear-gradient(to bottom, #a0ccef, #74b4e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0ccef', endColorstr='#ff74b4e8', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active > a,
.nn_tabs.oldschool > ul > li.active > a:hover {
  padding-bottom: 5px;
}
.nn_tabs.oldschool > .tab-content {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border: none !important;
}
.nn_tabs.oldschool > .tab-content > .tab-pane {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  clear: left;
  padding: 10px 20px;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nn_tabs.oldschool > ul > li.blue > a,
.nn_tabs.oldschool > ul > li.primary > a {
  background-color: #badaf4;
  background-image: -moz-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cce3f6), to(#a0ccef));
  background-image: -webkit-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: -o-linear-gradient(top, #cce3f6, #a0ccef);
  background-image: linear-gradient(to bottom, #cce3f6, #a0ccef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcce3f6', endColorstr='#ffa0ccef', GradientType=0);
}
.nn_tabs.oldschool > ul > li.blue > a:hover,
.nn_tabs.oldschool > ul > li.primary > a:hover {
  background-color: #86bdeb;
  background-image: -moz-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0ccef), to(#5ea8e4));
  background-image: -webkit-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: -o-linear-gradient(top, #a0ccef, #5ea8e4);
  background-image: linear-gradient(to bottom, #a0ccef, #5ea8e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0ccef', endColorstr='#ff5ea8e4', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.blue > a,
.nn_tabs.oldschool > ul > li.active.blue > a:hover,
.nn_tabs.oldschool > ul > li.active.primary > a,
.nn_tabs.oldschool > ul > li.active.primary > a:hover {
  background-color: #479add;
  background-image: -moz-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea8e4), to(#2384d3));
  background-image: -webkit-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: -o-linear-gradient(top, #5ea8e4, #2384d3);
  background-image: linear-gradient(to bottom, #5ea8e4, #2384d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5ea8e4', endColorstr='#ff2384d3', GradientType=0);
}
.nn_tabs.oldschool > ul > li.info > a {
  background-color: #b0ddea;
  background-image: -moz-linear-gradient(top, #c0e4ef, #98d3e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0e4ef), to(#98d3e4));
  background-image: -webkit-linear-gradient(top, #c0e4ef, #98d3e4);
  background-image: -o-linear-gradient(top, #c0e4ef, #98d3e4);
  background-image: linear-gradient(to bottom, #c0e4ef, #98d3e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0e4ef', endColorstr='#ff98d3e4', GradientType=0);
}
.nn_tabs.oldschool > ul > li.info > a:hover {
  background-color: #80c9de;
  background-image: -moz-linear-gradient(top, #98d3e4, #5bb9d4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98d3e4), to(#5bb9d4));
  background-image: -webkit-linear-gradient(top, #98d3e4, #5bb9d4);
  background-image: -o-linear-gradient(top, #98d3e4, #5bb9d4);
  background-image: linear-gradient(to bottom, #98d3e4, #5bb9d4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff98d3e4', endColorstr='#ff5bb9d4', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.info > a,
.nn_tabs.oldschool > ul > li.active.info > a:hover {
  background-color: #4aabc7;
  background-image: -moz-linear-gradient(top, #5bb9d4, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb9d4), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bb9d4, #2f96b4);
  background-image: -o-linear-gradient(top, #5bb9d4, #2f96b4);
  background-image: linear-gradient(to bottom, #5bb9d4, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb9d4', endColorstr='#ff2f96b4', GradientType=0);
}
.nn_tabs.oldschool > ul > li.green > a,
.nn_tabs.oldschool > ul > li.success > a {
  background-color: #c8e4c8;
  background-image: -moz-linear-gradient(top, #d6ead6, #b4d9b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6ead6), to(#b4d9b4));
  background-image: -webkit-linear-gradient(top, #d6ead6, #b4d9b4);
  background-image: -o-linear-gradient(top, #d6ead6, #b4d9b4);
  background-image: linear-gradient(to bottom, #d6ead6, #b4d9b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6ead6', endColorstr='#ffb4d9b4', GradientType=0);
}
.nn_tabs.oldschool > ul > li.green > a:hover,
.nn_tabs.oldschool > ul > li.success > a:hover {
  background-color: #9fcf9f;
  background-image: -moz-linear-gradient(top, #b4d9b4, #80c080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4d9b4), to(#80c080));
  background-image: -webkit-linear-gradient(top, #b4d9b4, #80c080);
  background-image: -o-linear-gradient(top, #b4d9b4, #80c080);
  background-image: linear-gradient(to bottom, #b4d9b4, #80c080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4d9b4', endColorstr='#ff80c080', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.green > a,
.nn_tabs.oldschool > ul > li.active.green > a:hover,
.nn_tabs.oldschool > ul > li.active.success > a,
.nn_tabs.oldschool > ul > li.active.success > a:hover {
  background-color: #6db46d;
  background-image: -moz-linear-gradient(top, #80c080, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c080), to(#51a351));
  background-image: -webkit-linear-gradient(top, #80c080, #51a351);
  background-image: -o-linear-gradient(top, #80c080, #51a351);
  background-image: linear-gradient(to bottom, #80c080, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80c080', endColorstr='#ff51a351', GradientType=0);
}
.nn_tabs.oldschool > ul > li.orange > a,
.nn_tabs.oldschool > ul > li.warning > a {
  background-color: #fde1b8;
  background-image: -moz-linear-gradient(top, #fee9cc, #fdd49a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fee9cc), to(#fdd49a));
  background-image: -webkit-linear-gradient(top, #fee9cc, #fdd49a);
  background-image: -o-linear-gradient(top, #fee9cc, #fdd49a);
  background-image: linear-gradient(to bottom, #fee9cc, #fdd49a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffee9cc', endColorstr='#fffdd49a', GradientType=0);
}
.nn_tabs.oldschool > ul > li.orange > a:hover,
.nn_tabs.oldschool > ul > li.warning > a:hover {
  background-color: #fcc77d;
  background-image: -moz-linear-gradient(top, #fdd49a, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fbb450);
  background-image: -o-linear-gradient(top, #fdd49a, #fbb450);
  background-image: linear-gradient(to bottom, #fdd49a, #fbb450);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd49a', endColorstr='#fffbb450', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.orange > a,
.nn_tabs.oldschool > ul > li.active.orange > a:hover,
.nn_tabs.oldschool > ul > li.active.warning > a,
.nn_tabs.oldschool > ul > li.active.warning > a:hover {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.nn_tabs.oldschool > ul > li.red > a,
.nn_tabs.oldschool > ul > li.danger > a,
.nn_tabs.oldschool > ul > li.error > a {
  background-color: #edb9b7;
  background-image: -moz-linear-gradient(top, #f1c9c7, #e7a29e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1c9c7), to(#e7a29e));
  background-image: -webkit-linear-gradient(top, #f1c9c7, #e7a29e);
  background-image: -o-linear-gradient(top, #f1c9c7, #e7a29e);
  background-image: linear-gradient(to bottom, #f1c9c7, #e7a29e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1c9c7', endColorstr='#ffe7a29e', GradientType=0);
}
.nn_tabs.oldschool > ul > li.red > a:hover,
.nn_tabs.oldschool > ul > li.danger > a:hover,
.nn_tabs.oldschool > ul > li.error > a:hover {
  background-color: #e18a86;
  background-image: -moz-linear-gradient(top, #e7a29e, #d86761);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7a29e), to(#d86761));
  background-image: -webkit-linear-gradient(top, #e7a29e, #d86761);
  background-image: -o-linear-gradient(top, #e7a29e, #d86761);
  background-image: linear-gradient(to bottom, #e7a29e, #d86761);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7a29e', endColorstr='#ffd86761', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.red > a,
.nn_tabs.oldschool > ul > li.active.red > a:hover,
.nn_tabs.oldschool > ul > li.active.danger > a,
.nn_tabs.oldschool > ul > li.active.danger > a:hover,
.nn_tabs.oldschool > ul > li.active.error > a,
.nn_tabs.oldschool > ul > li.active.error > a:hover {
  background-color: #cd534d;
  background-image: -moz-linear-gradient(top, #d86761, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d86761), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #d86761, #bd362f);
  background-image: -o-linear-gradient(top, #d86761, #bd362f);
  background-image: linear-gradient(to bottom, #d86761, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd86761', endColorstr='#ffbd362f', GradientType=0);
}
.nn_tabs.oldschool > ul > li.grey > a,
.nn_tabs.oldschool > ul > li.gray > a {
  background-color: #d3d3d3;
  background-image: -moz-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#c3c3c3));
  background-image: -webkit-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: -o-linear-gradient(top, #dddddd, #c3c3c3);
  background-image: linear-gradient(to bottom, #dddddd, #c3c3c3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffc3c3c3', GradientType=0);
}
.nn_tabs.oldschool > ul > li.grey > a:hover,
.nn_tabs.oldschool > ul > li.gray > a:hover {
  background-color: #b4b4b4;
  background-image: -moz-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3c3c3), to(#9d9d9d));
  background-image: -webkit-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: -o-linear-gradient(top, #c3c3c3, #9d9d9d);
  background-image: linear-gradient(to bottom, #c3c3c3, #9d9d9d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3c3c3', endColorstr='#ff9d9d9d', GradientType=0);
}
.nn_tabs.oldschool > ul > li.active.grey > a,
.nn_tabs.oldschool > ul > li.active.grey > a:hover,
.nn_tabs.oldschool > ul > li.active.gray > a,
.nn_tabs.oldschool > ul > li.active.gray > a:hover {
  background-color: #8e8e8e;
  background-image: -moz-linear-gradient(top, #9d9d9d, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#777777));
  background-image: -webkit-linear-gradient(top, #9d9d9d, #777777);
  background-image: -o-linear-gradient(top, #9d9d9d, #777777);
  background-image: linear-gradient(to bottom, #9d9d9d, #777777);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d9d9d', endColorstr='#ff777777', GradientType=0);
}
