/**
 * NoNumber Page stylesheet
 *
 * @package         Tabs
 * @version         3.1.1
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/tabs/style.min.css
 */
.nn_tabs .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_tabs .fade.in {
  opacity: 1;
}
.nn_tabs .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.nn_tabs .collapse.in {
  height: auto;
}
.nn_tabs > .nav {
  padding: 0;
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nn_tabs > .nav > li > a {
  display: block;
}
.nn_tabs > .nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nn_tabs > .nav > .pull-right {
  float: right;
}
.nn_tabs .nav-tabs {
  zoom: 1;
  border-bottom: 1px solid #ddd;
}
.nn_tabs .nav-tabs:before {
  content: '';
  display: block;
}
.nn_tabs .nav-tabs:after {
  content: '';
  display: table;
  clear: both;
}
.nn_tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nn_tabs .nav-tabs > li > a {
  margin-right: 2px;
  padding: 8px 12px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nn_tabs .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nn_tabs .nav-tabs > li.active > a,
.nn_tabs .nav-tabs > li.active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nn_tabs .tab-content {
  overflow: visible;
}
.nn_tabs .tab-content > .tab-pane {
  display: none;
}
.nn_tabs .tab-content > .active {
  display: block;
}
.nn_tabs > ul.nav-tabs > li > a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: #0088cc;
  text-decoration: none;
}
.nn_tabs > ul.nav-tabs > li > a:hover {
  color: #005580;
  text-decoration: none;
}
.nn_tabs > .tab-content {
  margin-bottom: 10px;
}
.nn_tabs.outline_content > .tab-content {
  margin-bottom: 18px;
  padding: 0;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nn_tabs.outline_content > .tab-content .tab-pane {
  padding: 8px 12px 4px;
}
.nn_tabs.outline_content > ul {
  margin-bottom: 0;
}
.nn_tabs.outline_handles > ul.nav-tabs > li > a,
.nn_tabs.outline_handles > ul.nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-right-color: #ddd;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li {
    float: none;
  }
  .nn_tabs > ul.nav-tabs > li:last-child > a,
  .nn_tabs > ul.nav-tabs > .active:last-child > a,
  .nn_tabs > ul.nav-tabs > li:last-child > a:hover,
  .nn_tabs > ul.nav-tabs > .active:last-child > a:hover {
    border-bottom: 1px solid #ddd;
  }
}
.nn_tabs > ul.nav-tabs > li.blue > a,
.nn_tabs > ul.nav-tabs > li.blue > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.blue > a:hover,
.nn_tabs > ul.nav-tabs > li.blue.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.blue > a,
  .nn_tabs > ul.nav-tabs > li.blue > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.primary > a,
.nn_tabs > ul.nav-tabs > li.primary > a:hover {
  border-top: 5px solid #74b4e8;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.primary > a:hover,
.nn_tabs > ul.nav-tabs > li.primary.active > a {
  border-top-color: #2384d3;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.primary > a,
  .nn_tabs > ul.nav-tabs > li.primary > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.info > a,
.nn_tabs > ul.nav-tabs > li.info > a:hover {
  border-top: 5px solid #6fc2da;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.info > a:hover,
.nn_tabs > ul.nav-tabs > li.info.active > a {
  border-top-color: #2f96b4;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.info > a,
  .nn_tabs > ul.nav-tabs > li.info > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.green > a,
.nn_tabs > ul.nav-tabs > li.green > a:hover {
  border-top: 5px solid #91c991;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.green > a:hover,
.nn_tabs > ul.nav-tabs > li.green.active > a {
  border-top-color: #51a351;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.green > a,
  .nn_tabs > ul.nav-tabs > li.green > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.success > a,
.nn_tabs > ul.nav-tabs > li.success > a:hover {
  border-top: 5px solid #91c991;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.success > a:hover,
.nn_tabs > ul.nav-tabs > li.success.active > a {
  border-top-color: #51a351;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.success > a,
  .nn_tabs > ul.nav-tabs > li.success > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.orange > a,
.nn_tabs > ul.nav-tabs > li.orange > a:hover {
  border-top: 5px solid #fbbf69;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.orange > a:hover,
.nn_tabs > ul.nav-tabs > li.orange.active > a {
  border-top-color: #f89406;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.orange > a,
  .nn_tabs > ul.nav-tabs > li.orange > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.warning > a,
.nn_tabs > ul.nav-tabs > li.warning > a:hover {
  border-top: 5px solid #fbbf69;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.warning > a:hover,
.nn_tabs > ul.nav-tabs > li.warning.active > a {
  border-top-color: #f89406;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.warning > a,
  .nn_tabs > ul.nav-tabs > li.warning > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.red > a,
.nn_tabs > ul.nav-tabs > li.red > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.red > a:hover,
.nn_tabs > ul.nav-tabs > li.red.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.red > a,
  .nn_tabs > ul.nav-tabs > li.red > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.danger > a,
.nn_tabs > ul.nav-tabs > li.danger > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.danger > a:hover,
.nn_tabs > ul.nav-tabs > li.danger.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.danger > a,
  .nn_tabs > ul.nav-tabs > li.danger > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.error > a,
.nn_tabs > ul.nav-tabs > li.error > a:hover {
  border-top: 5px solid #dd7a75;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.error > a:hover,
.nn_tabs > ul.nav-tabs > li.error.active > a {
  border-top-color: #bd362f;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.error > a,
  .nn_tabs > ul.nav-tabs > li.error > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.grey > a,
.nn_tabs > ul.nav-tabs > li.grey > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.grey > a:hover,
.nn_tabs > ul.nav-tabs > li.grey.active > a {
  border-top-color: #808080;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.grey > a,
  .nn_tabs > ul.nav-tabs > li.grey > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
.nn_tabs > ul.nav-tabs > li.gray > a,
.nn_tabs > ul.nav-tabs > li.gray > a:hover {
  border-top: 5px solid #b3b3b3;
  padding-top: 4px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tabs > ul.nav-tabs > li.gray > a:hover,
.nn_tabs > ul.nav-tabs > li.gray.active > a {
  border-top-color: #808080;
}
@media (max-width: 768px) {
  .nn_tabs > ul.nav-tabs > li.gray > a,
  .nn_tabs > ul.nav-tabs > li.gray > a:hover {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
