/**
 * @package n3tSeznamCaptcha
 * @author Pavel Poles - n3t.cz
 * @copyright (C) 2012-2013 - Pavel Poles - n3t.cz
 * @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
**/

.seznam-captcha {
  border: 1px solid #dfdfdf;
  padding: 7px;
  overflow: hidden;
  float: left;
  line-height: 1.7em;
  white-space: nowrap;
  position: relative;
  min-width: 215px;
}

.seznam-captcha-image {
  width: 170px;
  height: 70px;
  float: left;
  margin: 0 10px 10px 0;
}

.seznam-captcha-answer {
  float: left;
  clear: both;
}

.seznam-captcha a {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 7px;
}

.seznam-captcha span {
  display: none;
}

a.seznam-captcha-audio, a.seznam-captcha-audio:hover {
  background: transparent url(../images/light-icons/audio.png) 0 0 no-repeat !important;
  top: 7px;
}

a.seznam-captcha-reload, a.seznam-captcha-reload:hover {
  background: transparent url(../images/light-icons/reload.png) 0 0 no-repeat !important;
  top: 42px;
}