@font-face{
	font-family: 'oxygen-regular';
	src: url('../fonts/oxygen-regular.otf');
	src: url('../fonts/oxygen-regular.eot');
    src: url('../fonts/oxygen-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-regular.woff') format('woff'),
         url('../fonts/oxygen-regular.ttf') format('truetype'),
         url('../fonts/oxygen-regular.svg#oxygen-regular') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'oxygen-bold';
	src: url('../fonts/oxygen-bold.otf');
	src: url('../fonts/oxygen-bold.eot');
    src: url('../fonts/oxygen-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-bold.woff') format('woff'),
         url('../fonts/oxygen-bold.ttf') format('truetype'),
         url('../fonts/oxygen-bold.svg#oxygen-bold') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'oxygen-light';
	src: url('../fonts/oxygen-light.otf');
	src: url('../fonts/oxygen-light.eot');
    src: url('../fonts/oxygen-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-light.woff') format('woff'),
         url('../fonts/oxygen-light.ttf') format('truetype'),
         url('../fonts/oxygen-light.svg#oxygen-light') format('svg');
	font-weight: normal;
    font-style: normal;
}

.clear{clear:both;}

body {background: #eee;margin:0;text-shadow:none !important;color:#2d2d2d;font-family:tahoma;font-size:12px;}
dd{margin:0;}
fieldset{border: 0;}

h3 {color: #555}
h2 a {text-decoration: none}
	
.items-row h2 {
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
a{text-decoration:none;}
a:link,a:visited {color: #006cb7;text-decoration:none;}
a:hover,a:active,a:focus {text-decoration:none;}

.logoheader {float:left;margin:20px 0px 10px 0px;}
.logoheader img{} /* normal size */

#navigation-top{display:block;float:right;}
#all {}
#shadow #all {position:relative;}

/* Sprocket - Lists - default */
.sprocket-lists ul {list-style:none;}

/*#header ul.menu {
  background-color:#ddd;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#dddddd");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-color: #b2b2b2 #b2b2b2 hsl(114, 0%, 62.5%);

  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
  -webkit-font-smoothing: antialiased;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #095197;
	border: solid 1px #ddd;
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
}

#header ul.menu a:link,#header ul.menu a:visited {
	color: #333;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 10px;
	margin: 0;
	display: inline-block;
	margin: 0 0 0;
	padding: 12px 15px;
	position: relative;
	border-right: 1px solid #ddd;
	box-shadow: 1px 0px 0px #f5f5f5;
}
*/
/*  grey background */
p.readmore a,#header input.button,.pagenav a:link,.pagenav a:visited,#advanced-search-toggle,.profile-edit a:link,.profile-edit a:visited,h3.js_heading
	{
  background-color:#ddd;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dddddd");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border-color: #b2b2b2 #b2b2b2 hsl(114, 0%, 62.5%);
  -webkit-font-smoothing: antialiased;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #095197;
	border: solid 1px #ddd
}

/* +++++++++++++  table display  Catgegories table, contact etc, ++++++++++++++++++++* */
table {}

table th {
	background-color: #0074cc;
	color: #fff;
	background-image: -moz-linear-gradient(top, #095197, #1B6BA5);
	background-image: -ms-linear-gradient(top, #095197, #1B6BA5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#095197),
		to(#1B6BA5) );
	background-image: -webkit-linear-gradient(top, #095197, #1B6BA5);
	background-image: -o-linear-gradient(top, #095197, #1B6BA5);
	background-image: linear-gradient(top, #095197, #1B6BA5);
	background-repeat: repeat-x;
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		=
		 '#095197', endColorstr =   '#1B6BA5', GradientType =   0 );
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid :   dximagetransform.microsoft.gradient (   enabled =
		false );
}

table th a:link,table th a:visited {
	color: #fff
}

tr.odd,tr.cat-list-row1 {
	background: #f8f8f8
}

/* blue background */
.bluebutton,
p.readmore a:hover,
#header ul.menu a:hover,
#header ul.menu a:active,
#header ul.menu a:focus,
.pagenav a:hover,
.pagenav a:active,
.pagenav a:focus,
#advanced-search-toggle:hover,
#advanced-search-toggle:active,
#advanced-search-toggle:focus,
.profile-edit a:hover,
.profile-edit a:active,
.profile-edit a:focus,
#fontsize a:hover,#fontsize a:active,#fontsize a:focus,
#mobile_select h2 a
	{
	/*background-color: #000000;
	color: #fff;

  background-color:#095197;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0087d1", endColorstr="#095197");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0087d1), to(#095197));
  background-image: -moz-linear-gradient(top, #0087d1, #095197);
  background-image: -ms-linear-gradient(top, #0087d1, #095197);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0087d1), color-stop(100%, #095197));
  background-image: -webkit-linear-gradient(top, #0087d1, #095197);
  background-image: -o-linear-gradient(top, #0087d1, #095197);
  background-image: linear-gradient(#0087d1, #095197);
  border-color: #00456b #095197 hsl(201, 100%, 16%);
  color: #fff ;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
	*/
	background:url('../images/bluebtn-96x35.png') no-repeat;width:96px;height:35px;font-family:oxygen-bold;font-size:13px;border-radius:0;box-shadow:0 0 0 #000;
	text-shadow:0 0 0 #000;border:0;color:#fff;cursor:pointer;
}

/* +++++++++++++++++  Pagination +++++++++++++++ */
.pagination span,.pagination span  a:hover {
	color: #999999;
	background-color: #f5f5f5;
}

/* active item */
/*span.pagenav {
	background: #095197;
	color: #fff
}
*/
.pagination-start span.pagenav,.pagination-prev  span.pagenav,.pagination-end span.pagenav,.pagination-next span.pagenav
	{
	background-color: #f5f5f5;
	color: #333;
}

/* +++++++++++++++++  content  +++++++++++++++ */
.article-info {
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f5f5f5) );
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	background-repeat: repeat-x;
	filter: progid :   DXImageTransform.Microsoft.gradient (   startColorstr
		=
		 '#ffffff', endColorstr =   '#f5f5f5', GradientType =   0 );
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

ul.menu a:link,ul.menu a:visited {
	color: #444;
}

/* ++++++++++++++++++++++  menu ++++++++++++++++++++++++++  */
.moduletable_menu {
	border: solid 1px #ddd;
	background: #f9f9f9;
}

/*#header ul.menu {
	border: solid 1px #D5D5D5;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
}

#header ul.menu a {
	box-shadow: none;
	border-bottom: 0
}

ul.menu a:hover,ul.menu a:active,ul.menu a:focus {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	background: url(../images/3.0/arrow.png) no-repeat right center;
	color: #095197
}
*/
/* ++++++++++++++++   highlightning active menuitem  +++++++++++++++++++ */
u/*l.menu li.active a,ul.menu  li.active ul li.active a,ul.menu  li.active ul li.active  ul li.active a,ul.menu  li.active ul li.active  ul li.active ul li.active  a,ul.menu  li.active ul li.active  ul li.active ul li.active ul li.active a
	{
	font-weight: bold;
}

ul.menu  li.active ul li a,ul.menu  li.active ul li.active  ul li a,ul.menu  li.active ul li.active  ul li.active ul li  a,ul.menu  li.active ul li.active  ul li.active ul li.active ul li a
	{
	font-weight: normal
}

ul.menu ul a {
	background: #e5e5e5;
	margin-bottom: 1px
}

ul.menu ul ul ul a {
	background: #f5f5f5 url(../images/3.0/arrow.png) no-repeat 24px center;
}

ul.menu ul ul ul ul a {
	background: #fff;
}
*/
/* +++++++++++++++++++++++  SLIDER  ++++++++++++++++++++  */
.panel h3.pane-toggler a {
	background: url(../images/slider_plus.png) right top no-repeat;
	color: #333
}

.panel h3.pane-toggler-down a {
	background: url(../images/slider_minus.png) right top no-repeat;
	border-bottom: solid 1px #ddd;
	color: #333
}

/*  +++++++++++++++++   Tabs ++++++++++++++++++++++  */
ul.tabs li,dl.tabs dt h3 a:link,dl.tabs dt h3 a:visited {
	background: #f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li a:link,ul.tabs li a:visited,dl.tabs dt a {
	color: #333;
	border: solid 1px #ddd;
	border-bottom: 0
}

ul.tabs li a:hover,ul.tabs li a:active,ul.tabs li a:focus {
	color: #000
}

.tabcontent,div.current {
	background: #fff;
	color: #000;
	border: solid 1px #ddd;
}

.tabcontent .linkclosed {
	color: #000;
	border-bottom: solid 1px #e5e5e5;
}

ul.tabs li a.linkopen,dl.tabs dt.open  h3 a:link,dl.tabs dt.open  h3 a:visited
	{
	background: #fff;
	color: #333;
	border-radius: 5px 5px 0px 0px;
}

ul.tabs li a.linkclosed:hover,ul.tabs li a.linkclosed:active,ul.tabs li a.linkclosed:focus,ul.tabs li a.linkopen:hover,ul.tabs li a.linkopen:active,ul.tabs li a.linkopen:focus
	{
	background: #555;
	color: #fff
}
#footer-outer{background:url('../images/footer-desktop-bg.png') repeat-x top left #fff;border-top:9px solid #00ae4d;}
#footer-inner{min-height:374px;padding:45px 10px;}
#footer-inner h2.title{font-family:oxygen-bold;font-size:14px !important;margin:0 0 10px 0;font-weight:normal;}
#footer-sub{background:url('../images/rt-copyright-bg-desktop.png') repeat-x bottom left #fff;}
#footer{padding:0 10px;}
#footer h2.title{font-family:oxygen-bold;font-size:14px !important;text-shadow:0 0 0 #000 !important;color:#333;margin:0 0 10px 0;padding:0;line-height:18px;}
#footer{}
#rt-footer .rt-container{padding:30px 0; }
#rt-footer .rt-block{margin:0 0 10px 0;padding:0;}
#rt-footer a{color:#777777;}


#bottom a {
	background: none
}

.box1 {width:18%;}
.box2{width:18%;}
.box3 {width:19%;}
.box4 {width:19%;}
.box5 {width:19%;}
.box2mob{width:19%;display:none;} /* phone */

.white-bg{background-color:#fff;}
.grey-bg1{background-color:#f1f1f1;}
.after-mainmenu-bg{background:url('../images/after-mainmenu-bg.png') no-repeat top center #fff;margin:0 auto;}
.white-grey-bg{background:url('../images/subpage-bg1.png') repeat-x top left #f1f1f1;}

#bottom  ul li a {
	background-image: none;
	padding-left: 0
}

/* MODULE */
/* */
.rt-top{background:url('../images/rt-top-bg-desktop.png') repeat-x bottom left #fff;border-bottom:1px solid #ccc;padding:0 0 20px 0;position:relative;z-index:900;border-top:7px solid #006cb7;}
.rt-mainmenu{background:url('../images/rt-header-bg-desktop.png') repeat-x top left #fff;position:relative;z-index:800;}

.dj-main{display:none;} /* for mobile phone */
/* Taiping - Top Menu */
ul#taiping-top-menu{}
ul#taiping-top-menu li{box-shadow:0 0 0 #000;border:0;}

ul#taiping-top-menu > li a.item,
ul#taiping-top-menu > li > span.nolink{box-shadow:0 0 0 #000;font-size: 12px;line-height: 24px;padding:10px 10px 0 10px;position: relative;font-family:oxygen-bold;height:auto !important;
text-transform:uppercase;color:#464646;text-shadow:0 0 0 #000;background:transparent !important;border:1px solid #fff;}
ul#taiping-top-menu > li:hover{background:transparent;}
ul#taiping-top-menu > li:hover > a.item ,
ul#taiping-top-menu > li:hover > span.nolink{color:inherit !important;background:transparent !important;text-shadow:0 0 0 #000;text-decoration:underline;}
ul#taiping-top-menu > li.parent{background-color:#fff;position:relative;}
ul#taiping-top-menu > li.parent > a.item:after{content:"";}
ul#taiping-top-menu > li.parent > a.item{border-left:1px solid #fff;}
ul#taiping-top-menu > li.parent:hover > a.item,
ul#taiping-top-menu > li.parent:hover > span.nolink
{color:#006cb7 !important;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;background-color:#fff !important;z-index:1001;text-decoration:none;}

ul#taiping-top-menu li.root:hover:first-child > ul{left:0;width:200px !important;top:35px;padding:10px 5px;background-color:#fff;}
ul#taiping-top-menu li:last-child:hover > ul{left:-204px;width:auto !important;top:35px;padding:10px 5px;background-color:#fff;}
ul#taiping-top-menu li.parent  ul li a.item{box-shadow:0 0 0 #000;font-size:12px;position: relative;font-family:oxygen-regular;color:#464646;text-shadow:0 0 0 #000;}
ul#taiping-top-menu .dropdown{padding:0;}
ul#taiping-top-menu .dropdown > div {background:#fff;border-radius:0;left:-182px;position:absolute;top:0px;}
ul#taiping-top-menu .dropdown ul li:hover > .item {background:none;border-radius:0;color:#464646 !important;text-decoration:underline;}
ul#taiping-top-menu .column{width:300px !important;font-size:12px;}
/* level 2 */
ul#taiping-top-menu .level2{border:1px solid #e0e0e0;}
ul#taiping-top-menu .level2 li > .item {background:transparent;border:0 !important;padding:0 10px 10px 10px;}
ul#taiping-top-menu .level2 li:hover > .item {text-decoration:underline;}

/* Top Search */
.fp-top-search{}
.fp-top-search .roksearch-wrapper{background-color:#45baff !important;padding:5px;}
.fp-top-search a{text-decoration:none;}
.fp-top-search{}
#roksearch_search_str {border:0 !important;color:#fff !important;font-size:14px;padding:8px 10px !important;font-family:tahoma;}
#rokajaxsearch {margin:0!important;}
#rokajaxsearch > .rokajaxsearch {background: none repeat scroll 0 0 transparent;border: medium none;box-shadow: none;}
.rokajaxsearch .inputbox {border-radius: 0 0 0 0;font-size: 12px;margin-bottom: 0;padding: 6px 12px;width: 250px;background:transparent;
	background-color:#7dcfff !important;color:#fff;border:0;box-shadow:0 0 0 #000;}
.rokajaxsearch .search_options {margin-top: 8px;padding-bottom: 15px;}
.rokajaxsearch .search_options label {margin-right: 20px !important;}
.rokajaxsearch .search_options label input[type="radio"], .rokajaxsearch .search_options label input[type="checkbox"] {margin: 0 5px 0 0;}
.taiping-search-btn{background:url('../images/search-btn.jpg') no-repeat; width:48px;height:43px;position:absolute;right:0;cursor:pointer;}

/* Search Result Ajax - override */
#roksearch_results {background:#FFFFFF;font-family:oxygen-regular;}
#roksearch_results a{font-size:12px;}
#roksearch_results .container-wrapper .roksearch_result_wrapper1 {background:none;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right:0;border-left:0;}
#roksearch_results .roksearch_result_wrapper1:hover {background:transparent;box-shadow: 0 1px 1px rgba(225, 225, 225, 0.9) inset;
	color: #464646 !important;text-shadow:0 0 0 #000;}
#roksearch_results .roksearch_result_wrapper1:hover a:hover {color:inherit !important;}	
#roksearch_results .roksearch_header {}
#roksearch_results .roksearch_result_wrapper1 h3, 
#roksearch_results .roksearch_result_wrapper1:hover h3 {color: #000;text-shadow: 0 0 0 #000;font-family:oxygen-bold;}

/* Top - Phone Number */
.custom-top-phone-number{padding-top:5px;}

/* I Want To - Menu - Override */
.i-want-to-mod{float:right;margin-left:20px !important;}

ul#i-want-to-menu{padding-bottom:0;}
ul#i-want-to-menu{}
ul#i-want-to-menu {}
ul#i-want-to-menu li.root > .daddy, 
ul#i-want-to-menu li.root:hover > .daddy {
	background-image: url("../images/top-arrow-down.png") !important;background-position: 95% 60% !important;background-repeat: no-repeat;width:200px;border-radius:5px 5px 0 0;
	font-family:oxygen-regular;font-size:13px;color:#666666;padding:0 18px;
}
ul#i-want-to-menu li:hover .item:hover, 
ul#i-want-to-menu li.active .item:hover {background-color:#ccc;border:1px solid #ccc;color:inherit;}
ul#i-want-to-menu li.active > .item {background-color:#ccc !important;border:1px solid #ccc !important;}
ul#i-want-to-menu li:hover ul{border-top:1px solid #fff;width:inherit;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-radius:0 0 5px 5px;}
ul#i-want-to-menu li:hover ul li a.item{font-size:13px;font-family:tahoma;color:#666666;border:0;background-color:#ccc;}
ul#i-want-to-menu .level2 li{padding-bottom:2px;background-color:#ccc;}
/* */

/* Taiping - Main Menu */
ul#taiping-menu{padding:0;margin:0;}
ul#taiping-menu li{border:0;display:inline-block;margin:20px 6% 20px 0;}
ul#taiping-menu li:first-child {}
ul#taiping-menu li:last-child {margin-right:0;}
ul#taiping-menu li a{color:#2c2c2c;font-size:14px !important;text-shadow:0 0 0 #000 !important;box-shadow:0 0 0 #000 !important;font-family:oxygen-bold;padding:0;text-transform:uppercase;}
ul#taiping-menu li a:hover,
ul#taiping-menu li.active a{color: #006CB7;text-decoration:none;}

/* Taiping - Main Menu for Mobile */
#taiping-main-menu-mobile{display:none;font-size:13px !important;font-family:oxygen-regular !important;text-transform:uppercase !important;position:absolute;z-index:500;width:100%;}
#taiping-main-menu-mobile{background:transparent !important;border:0 !important;border-radius: 0 0 0 0 !important;
	box-shadow: 0 0 0px 0 #000 !important;padding:0 !important;}
ul#taiping-main-menu-mobile li {border-bottom: 1px solid #3B3A3A !important;color: #fff !important;list-style: none outside none !important;margin: 0;text-align: left;}
ul#taiping-main-menu-mobile li a {background: none repeat scroll 0 0 transparent;color: #fff !important;display: block;margin: 0;padding:10px !important;text-align: left;text-decoration: none;}
ul#taiping-main-menu-mobile li.level1{background-color:#0BAF4E !important;}
ul#taiping-main-menu-mobile li.level1 a{font-family:oxygen-bold !important;font-size:12px !important;}
ul#taiping-main-menu-mobile li.level2 a:hover{color:#006cb7 !important;}
ul#taiping-main-menu-mobile li a:hover {}
ul#taiping-main-menu-mobile li ul li {border-top:1px solid #3b3a3a !important;border-bottom:0 !important;list-style-type:none !important;margin:0!important;padding: 0 0 0 0!important;background-color:#000 !important;opacity:0.9 !important;}
ul#taiping-main-menu-mobile li.level2 a{padding:10px 20px !important;font-size:11px !important;}
ul#taiping-main-menu-mobile li.level3 a{padding:10px 30px !important;}
ul#taiping-main-menu-mobile li.level4 a{padding:10px 40px !important;}
/* BREADCRUMBS */
#breadcrumbs{font-family:tahoma;font-size:12px;padding:30px 0 50px 0;}
#breadcrumbs a{color:#2d2d2d;}

.megamenu-wrapper{background-color:#fff;padding:0 10px;position:absolute;z-index:20;top:50px;box-shadow: 0px 2px 2px #666666;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;width:95%;}
.megamenu{background:url('../images/megamenu-bg.jpg') repeat-x top left #fff;height:inherit;padding:20px 30px 15px 30px;line-height:18px;}

.megamenu .box1{float:left;width:27%}
.megamenu .box2{float:left;width:30%;margin-left:2%;}
.megamenu .box3{float:left;width:30%;margin-left:9%;}

.megamenu .box1b{float:left;width:23%}
.megamenu .box2b{float:left;width:23%}
.megamenu .box3b{float:left;width:21%;margin-right:2%;}
.megamenu .box4b{float:left;width:30%}

.megamenu a{color:#006CB7;}
.megamenu p{margin-bottom:10px;}
#megamenu-arrow{background:url('../images/megamenu-arrow.png') no-repeat top left;width:22px;height:12px;position:absolute;top:40px;}

#megamenu-sub ul li{line-height:18px;}
#megamenu-sub ul li.parent{/*margin-top:10px !important;*/padding-bottom:5px !important;}
#megamenu-sub{list-style-type:none;margin:0;padding:0;}
#megamenu-sub li{border:0 !important;margin:0;padding-bottom:5px;}
#megamenu-sub li a{padding:0 0 6px 0;font-weight:normal;color:#333;font-family:tahoma;}
#megamenu-sub li a:hover{border:0; color:#006CB7;}
#megamenu-sub li a, 
#megamenu-sub li .item, 
#megamenu-sub li .separator {font-size:13px;}
#megamenu-sub li.parent:first-child{padding:0;}
#megamenu-sub li.parent{padding:10px 0 0 0;}
#megamenu-sub li.parent > a{font-family:tahoma;font-weight:bold;text-decoration:none;}
#megamenu-sub li.parent > ul{margin:5px 0 0 0;padding:0;list-style-type:none;}

#megamenu-sub li .nav-header {font-size: 13px;font-weight: bold;}
/* megamenu for Resource Center */
.menuresource-center{}
.menuresource-center > li.parent > span.nav-header {display:none;}
.menuresource-center > li.parent > ul > li.parent{margin:0 !important;padding:0 !important;}
.menuresource-center > li.parent > ul > li.parent > a{font-weight:normal !important;padding:0;}
.menuresource-center{}

/* DJ IMAGE SLIDER */
.taiping-homepage-banner-desktop{display:block;}
.taiping-homepage-banner-mobile{display:none;background-color:#fff;}

.slide-desc-bg {background:transparent !important;}
.slide-desc{bottom:inherit !important;top:13%;left:17% !important;width:auto !important;}
.slide-desc-text {color:inherit !important;width:300px;}
.slide-text{margin-bottom:10%;}
.slide-text a{text-decoration:none;}
a.readmore{background:url('../images/btn-learnmore.png') no-repeat top left ;width:110px;height:37px;padding:10px 0;font-family:oxygen-bold;font-size:13px;color:#fff;display:block;text-align:center;}
.navigation-container-custom{opacity:0.5;filter:alpha(opacity=50);background-color:#000;border-radius:5px 5px 5px 5px;padding:5px 10px 5px 10px;top:auto !important;bottom:10px;right:200px !important;}
span.load-button {background-color:#fff !important;width:8px !important;height:8px !important;}

/* DJ IMAGE SLIDER FOR MOBILE */
span.load-button-taiping {background-color:#fff;width:8px;height:8px;border: 1px solid #FFFFFF;border-radius: 7px 7px 7px 7px;box-shadow: 0 0 2px #FFFFFF;cursor: pointer;
	display: inline-block;margin: 0 3px;opacity: 0.4;cursor:pointer;}
span.load-button-taiping-active{opacity:0.8;}
/* ==========================================================================
 *
 * masthead
 *
 * ========================================================================== */
 
.masthead_loader{ width:100%; background-color:#fff; margin-top: 1px; position: relative; }
.masthead_loader .slideshow{ width:100%; position: relative; overflow:hidden; }
.masthead_loader .slides{ width: 100%; height:420px; position: relative; }
.masthead_loader .slides .slide{ width: 100%; height: 420px; position: absolute; top:0; left:0;}
.masthead_loader .slides .slide.active{ display: block; }
.masthead_loader .slides .slide .hero{ width: 100%; height: 420px; overflow: hidden; position: absolute; top:0; }
.masthead_loader .slides .slide .hero img{ width:100%; min-width:1400px; }
.masthead_loader .slides .slide .desc{ max-width: 900px;position: relative; z-index:1; color: #fff; padding:70px 10px 0; }
.masthead_loader .slides .slide .desc .txt{ width:350px;  margin-bottom:17px; }
.masthead_loader .navigation-container-custom{opacity:0.5;background-color:#000;border-radius:5px 5px 5px 5px;padding:5px 10px 5px 10px;top:auto !important;bottom:10px;right:200px !important;position:absolute;}

@media only screen and (max-width: 1399px) {
	.masthead_loader .slides .slide .hero img{ margin-right:-100%; }
	
	.masthead_loader .navigation-container-custom{right:10px !important;}
}

@media only screen and (max-width: 980px) {
	.masthead_loader .bottom .wrap2{ text-align: center; }
	.masthead_loader .bottom{ bottom: auto; top:200px; }
	.masthead_loader .slides .slide .hero img{ min-width:0; width:auto; height:320px; }
	.masthead_loader .slides .slide .hero{ height: 320px; position: absolute; }
	.masthead_loader .slides .slide .desc{ padding:0 10px; color: #4d4d4d; }
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:0;color:#2c2c2c !important;}
	.masthead_loader .slides,
	.masthead_loader .slides .slide{ height:320px;
		transition: height 0.4s ease;
		-webkit-transition: height 0.4s ease;
		-moz-transition: height 0.4s ease;
		-o-transition: height 0.4s ease;
	}
	.masthead_loader .navigation-container-custom{right:10px !important;bottom:inherit;top:285px !important;}
}

@media only screen and (max-width: 767px) {
	.masthead_loader .bottom .wrap2{ text-align: center; }
	.masthead_loader .bottom{ bottom: auto; top:200px; }
	.masthead_loader .slides,
	.masthead_loader .slides .slide{ height:270px;
		transition: height 0.4s ease;
		-webkit-transition: height 0.4s ease;
		-moz-transition: height 0.4s ease;
		-o-transition: height 0.4s ease;
	}
	.masthead_loader .slides .slide .hero .inner{ position: relative; right: 60%; text-align:center; }
		
	.masthead_loader .slides .slide .hero img{ min-width:900px; width:auto; height:270px; }
	.masthead_loader .slides .slide .hero{ height: 270px; position: absolute; }
	.masthead_loader .slides .slide .desc{ padding:0 10px;width:50%;color: #4d4d4d; }
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:0;color:#2c2c2c !important;}
	
	.masthead_loader .navigation-container-custom{right:10px !important;bottom:inherit;top:235px !important;}
}

@media only screen and (max-width: 640px) {
	.masthead_loader .slides .slide .hero,
	.masthead_loader .slides .slide .hero img{ height:220px; min-width:700px ;width:auto;}
	.masthead_loader .slides,
	.masthead_loader .slides .slide{ height:485px; }
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:220px 0 0 0;color:#2c2c2c !important;}
	
	.masthead_loader .slides .slide .hero .inner{ position: relative; right: 60%; text-align:center; }
	
	.masthead_loader .navigation-container-custom{right:10px !important;bottom:inherit;top:185px !important;}
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:220px 0 0 0;color:#2c2c2c !important;}
}

@media only screen and (max-width: 480px) {
	.masthead_loader .slides .slide .hero .inner{ position: relative; right: 50%; text-align:center; }
	.masthead_loader .slides .slide .hero,
	.masthead_loader .slides .slide .hero img{ height:180px;min-width:500px; margin-right:-65%;width:auto;}
	.masthead_loader .slides,
	.masthead_loader .slides .slide{ height:485px; }
	
	.masthead_loader .navigation-container-custom{right:10px !important;bottom:inherit;top:135px !important;}
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:170px 0 0 0;color:#2c2c2c !important;}
}

@media only screen and (max-width: 320px) {
	.masthead_loader .slides .slide .hero,
	.masthead_loader .slides .slide .hero img{ height:140px; min-width:320px;margin-right:-20%;/*width:auto;*/}
	.masthead_loader .slides .slide .hero .inner{ position: relative; right: 25%; text-align:center; }
	
	.masthead_loader .navigation-container-custom{right:10px !important;bottom:inherit;top:105px !important;}
	.masthead_loader .slides .slide .desc .txt{ width: auto; width:250px;padding:140px 0 0 0;color:#2c2c2c !important;}
}



/* News - Headlines - Homepage */
.taiping-news-headline{margin:0;}
.taiping-news-headline .module-surround{padding:5px 0;}
.taiping-news-headline .module-title{float:left;width:100px;}
.taiping-news-headline .module-content{float:left;width:88%;}
.taiping-news-headline h2.title{padding:7px 0;font-family:oxygen-bold;font-size:12px;color:#0baf4e;margin:0}

.taiping-news-headline .sprocket-headlines{background:transparent;border:0;}
.taiping-news-headline .sprocket-headlines-container a,
.taiping-news-headline .sprocket-headlines-container .sprocket-headlines-text{color:#666666;font-family:tahoma;font-size:13px;}
.taiping-news-headline .sprocket-headlines-list {padding: 10px 25px !important;}
.taiping-news-headline .sprocket-dates{font-size:14px;color:#666666;font-family:oxygen-bold;}

/* Homepage Taiping Text */
.taiping-your-world{margin:40px 10px 30px 10px;line-height:24px;color:#2c2c2c;}
.taiping-your-world .module-title{margin-bottom:22px;}
.taiping-your-world .module-title h2.title{font-family:oxygen-regular;font-size:30px;text-align:center;}
.taiping-your-world .module-content{}

/* K2 Homepage Article */
#hpf-mobile{display:none;}

.taiping-k2-article-homepage{margin:15px 0 40px 0;display:block;width:100%;}

.taiping-k2-article-homepage .sprocket-pdg{padding:15px;}
.taiping-k2-article-homepage .sprocket-lists-image {float:none;margin:0;width:100%}
.taiping-k2-article-homepage .sprocket-lists-title {background:transparent;border:0;border-radius: 0 0 0 0;cursor: pointer;line-height: 1.2em !important;margin: 0 0 10px 0!important;
	padding: 0 !important;position: relative;}
.taiping-k2-article-homepage .sprocket-lists-title a{font-family:oxygen-regular;font-size:22px;color:#2d2d2d;line-height:27px;}
.taiping-k2-article-homepage .sprocket-lists-title a:hover{text-decoration:none;}

.taiping-k2-article-homepage .sprocket-lists{min-height:300px;}
.taiping-k2-article-homepage .sprocket-lists-item .sprocket-padding {padding:7px 0 0 0;}
.taiping-k2-article-homepage .sprocket-lists-nav {position:absolute;top:0;}
.taiping-k2-article-homepage .sprocket-lists-arrows{}
.taiping-k2-article-homepage .sprocket-lists-arrows .arrow {background:transparent;}

.taiping-k2-article-homepage .sprocket-lists-arrows .next{background:url('../images/featured-homepage-arrow-right.png') no-repeat; width:63px;height:297px;position:absolute;right:0;top:50px;}
.taiping-k2-article-homepage .sprocket-lists-arrows .prev{background:url('../images/featured-homepage-arrow-left.png') no-repeat; width:63px;height:297px;position:absolute;left:0;top:50px;}
.taiping-k2-article-homepage ul.sprocket-lists-container{margin:0 auto;width:80%;}
.taiping-k2-article-homepage ul.sprocket-lists-container li{width:31.8%;display:inline-block;background-color:#fff;font-family:oxygen-regular;font-size:13px;line-height:20px;margin-right:10px;vertical-align:top;height:460px;}
.taiping-k2-article-homepage ul.sprocket-lists-container li:last-child{margin-right:0;}
.taiping-k2-article-homepage ul.sprocket-lists-container li a.readon{display:block;margin:10px 0;text-transform:uppercase;color:#006cb7;padding-bottom:42px;}
.taiping-k2-article-homepage ul.sprocket-lists-container li a.readon:hover{color:#003a62;text-decoration:none;}

a#your-world-left-btn{background:url('../images/featured-homepage-arrow-right.png') no-repeat; width:63px;height:297px;position:absolute;right:0;top:160px;}
a#your-world-right-btn{background:url('../images/featured-homepage-arrow-left.png') no-repeat; width:63px;height:297px;position:absolute;left:0;top:160px;}

/* K2 Homepage Article - for Mobile User */
.taiping-k2-article-homepage-mobile{display:none;}

.taiping-k2-article-homepage-mobile .sprocket-pdg{padding:15px;}
.taiping-k2-article-homepage-mobile .sprocket-lists-image {float:none;margin:0;}
.taiping-k2-article-homepage-mobile .sprocket-lists-title {background:transparent;border:0;border-radius: 0 0 0 0;cursor: pointer;line-height: 1.2em !important;margin: 0 0 10px 0!important;
	padding: 0 !important;position: relative;}
.taiping-k2-article-homepage-mobile .sprocket-lists-title a{font-family:oxygen-regular;font-size:22px;color:#2d2d2d;line-height:25px;}

.taiping-k2-article-homepage-mobile .sprocket-lists{min-height:300px;}
.taiping-k2-article-homepage-mobile .sprocket-lists-item .sprocket-padding {padding:7px 0 0 0;}
.taiping-k2-article-homepage-mobile .sprocket-lists-nav {position:absolute;top:0;}
.taiping-k2-article-homepage-mobile .sprocket-lists-arrows{}
.taiping-k2-article-homepage-mobile .sprocket-lists-arrows .arrow {background:transparent;}

.taiping-k2-article-homepage-mobile .sprocket-lists-arrows .next{background:url('../images/blue-arrow-right.png') no-repeat; width:26px;height:26px;position:absolute;right:15px;top:160px;}
.taiping-k2-article-homepage-mobile .sprocket-lists-arrows .prev{background:url('../images/blue-arrow-left.png') no-repeat; width:26px;height:26px;position:absolute;left:0;top:160px;}
.taiping-k2-article-homepage-mobile ul.sprocket-lists-container{margin:0 auto;width:220px;} /* only 1 piece */
.taiping-k2-article-homepage-mobile ul.sprocket-lists-container li{width:220px;display:inline-block;background-color:#fff;font-family:oxygen-bold;font-size:13px;line-height:20px;margin-right:10px;vertical-align:top;}
.taiping-k2-article-homepage-mobile ul.sprocket-lists-container li:last-child{margin-right:0;}
.taiping-k2-article-homepage-mobile ul.sprocket-lists-container li a.readon{display:block;margin:10px 0;}

/* Homepage Taiping Button - After K2 Homepage Article */
.taiping-your-world-button{margin:0 0 42px 0;}

/**/
#taiping-homepage-below{padding:52px 0;}
/**/
/* Homepage Taiping - TABS */
.taiping-homepage-tabs{}

.taiping-homepage-tabs .tab-content .tab-pane {padding:0 !important;}
.taiping-homepage-tabs .sprocket-lists-image {float:none;margin:0;width:100%;}
.taiping-homepage-tabs ul.sprocket-lists-container{margin:0 !important;padding:0 !important;}
.taiping-homepage-tabs ul{padding-bottom:25px !important;margin-bottom:25px !important;margin-top:0;}
.taiping-homepage-tabs ul > li{background:transparent;font-size:16px;font-family:oxygen-regular;margin-right:2%;border:0 !important;float:left !important;}

.taiping-homepage-tabs ul > li.active > a{background-color:#006cb7 !important;border-radius:5px 5px 5px 5px !important;color:#fff !important;}
.taiping-homepage-tabs ul > li > a{color:#2c2c2c !important;border-radius:0 0 0 0 !important;border:0 !important;}
.taiping-homepage-tabs ul > li > a:hover{border:0 !important;color:#fff !important;background-color:#006cb7 !important;border-radius:5px 5px 5px 5px !important;}
.taiping-homepage-tabs .tab-content{border:0 !important;border-radius:0 0 0 0 !important;margin:0 !important;}

/* Inside Tabs */
.taiping-homepage-tabs #promotions .sprocket-lists-item .sprocket-padding {padding:5px;}
.taiping-homepage-tabs #news .sprocket-lists-item .sprocket-padding {padding:25px;}
.taiping-homepage-tabs #useful-tips .sprocket-lists-item .sprocket-padding {padding:25px;}

.taiping-homepage-tabs h4.sprocket-lists-title{background:transparent;border:0;border-radius: 0 0 0 0;margin:0 !important;padding:0 !important;}

.taiping-homepage-tabs #news .sprocket-dates{font-size:13px; color:#333;font-weight:bold;font-family:tahoma;}
.taiping-homepage-tabs #news .sprocket-lists-title, 
.taiping-homepage-tabs #news .sprocket-lists-title a{font-size:14px !important;color:#333;font-weight:bold;line-height:18px;margin-bottom:14px !important;font-family:tahoma; text-align:justify;}

.taiping-homepage-tabs #promotions h4.sprocket-lists-title{line-height: 1.2em !important;margin: 0 0 10px 0!important;
	padding: 0 23px !important;position: relative;font-size:13px !important;cursor:inherit;color:#333;font-weight:bold;}
	
.taiping-homepage-tabs #useful-tips{font-size:13px;color:#333;line-height:18px;}
.taiping-homepage-tabs #useful-tips h4.sprocket-lists-title,
.taiping-homepage-tabs #useful-tips h4.sprocket-lists-title a{font-size:14px !important;color:#333;font-weight:bold;line-height:18px;margin-bottom:14px !important;display:block;}
.taiping-homepage-tabs #useful-tips{}
.taiping-homepage-tabs #useful-tips{}

/*.taiping-homepage-tabs .sprocket-lists-title a,
.taiping-homepage-tabs .sprocket-lists-title h4{font-family:tahoma !important;font-weight:bold !important;font-size:13px !important;color:#333333;line-height:20px;}
*/
.taiping-homepage-tabs .nntabs-mobile-layout{display:none !important;}
.taiping-homepage-tabs #set-nn_tabs-1{display:block !important;}
.taiping-homepage-tabs ul.sprocket-lists-container{margin:0 auto;display:table;border-spacing:10px 0;}
.taiping-homepage-tabs ul.sprocket-lists-container li{width:24.1%;float:none !important;display:table-cell;background-color:#fff;font-family:oxygen-regular;font-size:13px;line-height:20px;margin-right:10px;vertical-align:top;background-color:#d8d8d8;margin-bottom:10px;min-height:270px; text-align:justify;}
.taiping-homepage-tabs ul.sprocket-lists-container li:last-child{margin-right:0;}
.taiping-homepage-tabs ul.sprocket-lists-container li a.readon{display:block;margin:10px 0;}

.homepage-promotion-tab{padding:20px 5px;text-align:center;}

/* BOTTOM */

.tp-acymailing{background-color:#d8d8d8;padding:20px 50px;}
.tp-acymailing .left{float:left;width:20%;}
.tp-acymailing .right{float:right;width:79%;margin-top:1%;}

/*
.acymailing-taiping{background-color:#d8d8d8;}
.acymailing-taiping .module-surround{margin:0px 50px;padding:20px 0;}
.acymailing-taiping .module-title{float:left;width:20%;}
.acymailing-taiping .module-content{float:right;width:79%;}
.acymailing-taiping h2{margin:0;padding:0;font-family:oxygen-bold;font-size:20px;}
.acymailing_module_form td {padding-bottom:0px;}
*/

.acymailing_form {border: 0 none !important;margin:0;}
.acymailing_form p{float:left;}
.acymailing_form p.fieldacyname{width:33%;}
.acymailing_form p.fieldacyemail{width:49%;margin-right:20px;}
.acymailing_form input[type="text"]{padding:10px 20px;color:#7b7b7b;font-style:italic;font-size:12px;border-radius:5px;border:0;}
.acymailing_form .acyfield_name input{width:73% !important;}
.acymailing_form .acyfield_email input{width:85% !important;margin:0 20px 10px 0;}


.acymailing_form input.button{background:url('../images/bluebtn-96x35.png') no-repeat !important;width:96px;height:35px;font-family:oxygen-bold;font-size:12px;border-radius:0;box-shadow:0 0 0 #000;
	text-shadow:0 0 0 #000;border:0;display:block;color:#fff;}
	
/* Search - only on Mobile */
.taiping-search-mobile{display:none;}

/* K2 - Blog */
.tp-taiping{}
.tp-taiping .itemListCategoriesBlock{margin-bottom:20px;font-size:13px;color:#2d2d2d;line-height:18px;}
.tp-taiping .itemListCategory{background:transparent;border:0;margin:0 0 40px 0;padding:0;line-height:18px;}
.tp-taiping .itemListCategory h1{font-family: tahoma,arial,helvetica,sans-serif; font-size: 13px; font-weight:normal;}
.tp-taiping .itemListCategory h2{font-family:oxygen-regular;font-size:35px;margin-bottom:35px;color:#2d2d2d;}

.tp-taiping .catItemView{padding:0;margin: 0 15px 0 0;}
.tp-taiping .itemContainer{padding:0;}
.tp-taiping .catItemView{background-color:#fff;margin-bottom:20px;min-height:460px;position:relative;}
.tp-taiping div.catItemBody {margin: 0;padding:25px 23px 0 25px;}
.tp-taiping h3.catItemTitle{margin-bottom:10px;}
.tp-taiping h3.catItemTitle a{font-family:oxygen-regular;font-size:22px;color:#2d2d2d;}
.tp-taiping .catItemImageBlock{margin:0;padding:7px 0 0 0;}
.tp-taiping span.catItemImage{margin:0;}
.tp-taiping span.catItemImage img {border:0;padding:0;width:100% !important;}
.tp-taiping .catItemIntroText{padding:0;font-family:oxygen-regular;font-size:13px;color:#2d2d2d;text-align:justify;}
.tp-taiping .catItemReadMore{margin:15px 23px 0 23px;display:block;position:absolute;bottom:40px;}
.tp-taiping .catItemReadMore a{font-size:13px;color:#006cb7;font-family:oxygen-bold;text-transform:uppercase;}

/* K2 - Item */
.tp-taiping {border:0 !important;}
.tp-taiping .itemImageBlock{margin:0 20px 20px 0;padding:0;float:left;}
.tp-taiping .itemBody{line-height:21px;padding:0;margin:0;position:relative;}
.tp-taiping .itemBody h2.itemTitle{font-family:oxygen-regular;font-size:30px;margin:0 0 15px 0;line-height:35px;width:75%}
.tp-taiping div.itemIntroText{width:73%;color:inherit;font-size:inherit;font-weight:inherit;padding:0;font-family: Tahoma, Geneva, sans-serif;font-size: 13px; line-height:21px;padding-bottom:5px; min-height:140px;}
.tp-taiping div.itemIntroText h1{ font-weight:normal;}
.tp-taiping div.itemFullText{width:100%;margin-bottom:20px;font-family: Tahoma, Geneva, sans-serif;font-size: 13px;}
.tp-taiping span.itemImage img {padding:0;border:0;}
.tp-taiping .itemRightBlockExtraField{background:url('../images/k2detail-right.png') no-repeat top left -15px;height:276px;position:absolute;top:-30px;right:0;width:230px;}
.tp-taiping .itemRightBlockExtraField  .itemExtraFieldsButton{width:150px;border-radius:5px 5px 5px 5px;float:right;margin-bottom:15px;}
.tp-taiping .itemRightBlockExtraField .itemExtraFieldsBackground1{background-color:#00ae4d;}
.tp-taiping .itemRightBlockExtraField .itemExtraFieldsBackground2{background-color:#006cb7;}
.tp-taiping .itemRightBlockExtraField .itemExtraFieldsLabel{font-family:oxygen-bold;font-size:13px;color:#fff;padding:10px 13px;text-align:center;line-height:18px;}
.tp-taiping .itemRightBlockExtraField .itemExtraFieldsLabel a{color:#fff;}
.tp-taiping .item-for-more-info-left{}
.tp-taiping .item-share-this-right{}

.tp-taiping .itemExtraFields h3{font-family:tahoma;font-size:16px;font-weight:bold;color:#666666;}
.tp-taiping .itemExtraFields {border:0;margin:0;padding:0;}
.tp-taiping .itemExtraFields ul{font-family:tahoma;font-size:13px;}
.tp-taiping .itemExtraFields .itemExtraFieldsLabel{font-weight:bold;color:#2c2c2c;padding:10px 15px;background:#fff;width:130px;margin:0 5px 5px 0;float:left;}
.tp-taiping .itemExtraFields .itemExtraFieldsValue{color:#666666;background:#fff;padding:10px;width:75%;float:left;}
.tp-taiping .nn_tabs ul#set-nn_tabs-1{border:0 !important;}
.tp-taiping .nn_tabs ul#set-nn_tabs-1 li{margin-bottom:0;}
.tp-taiping .nn_tabs ul#set-nn_tabs-1 li.nn_tabs-tab a{color:#2c2c2c;font-family:oxygen-bold;font-size:15px;background-color:#dadee2;padding:8px 15px;border:0;border-radius:8px 8px 0 0;margin-right:5px;color:#666666;}
.tp-taiping .nn_tabs ul#set-nn_tabs-1 li.active a{background-color:#fff;}
.tp-taiping .nn_tabs .tab-content{background-color:#fff !important;padding:20px;border:0;color:#666666;line-height:18px;}
.tp-taiping .nn_tabs .nntabs-mobile-layout{color:#2c2c2c;font-family:oxygen-bold;font-size:15px;padding:8px 15px;border:0;border-radius:8px 8px 0 0;color:#666666;cursor:pointer;display:none;
	background:url('../images/top-arrow-down.png') no-repeat scroll 95% 15px #dadee2;}
.tp-taiping .nn_tabs {}
.tp-taiping .itemExtraFields{}
.tp-taiping .itemRelated{margin:30px 0;font-family:tahoma;}
.tp-taiping .itemRelated h3{color: #2C2C2C;font-family: tahoma;font-size: 14px;font-weight: normal;margin-bottom: 20px;}
.tp-taiping .itemRelated img{display:block;}
.tp-taiping .itemRelated ul{margin:0;padding:0;}
.tp-taiping .itemRelated ul li{list-style:none;display:inline-block;position:relative;width:220px;margin-right:15px;}
.tp-taiping .itemRelated ul li a{display:block;position:absolute;bottom:0;color:#fff;background-color:#000;opacity:0.8;padding:10px 0;text-align:center;font-size:13px;width:100%;}
.tp-taiping h2{font-family: Tahoma, Geneva, sans-serif;font-size: 16px;font-weight: bold;	}
div.itemFullText p {margin-bottom: 20px;}
div.itemFullText td p {margin-bottom: 0;}

h3.cw-social-mod-title-al{font-family:tahoma;font-size:14px;font-weight:bold;margin-bottom:6px;}
/* k2 - NEWS PAGE */
.componentheading{font-family:oxygen-regular;font-size:30px;margin-bottom:20px;}
.tp-news{border:0 !important;}
.tp-news .catItemDates{float:left;width:130px;font-size:14px;font-weight:bold;font-family:tahoma;}
.tp-news .catItemTitleBox{float:left;font-size:14px;font-family:tahoma;}
.tp-news .catItemBody{padding:15px 0;border-bottom:1px solid #ccc;}
.tp-news .catItemView{margin: 0;padding:0;}
.tp-news .k2Pagination{text-align:left;padding:0;font-size:12px;font-family:tahoma;color:#333;}
.tp-news .k2Pagination ul{display: flex;text-align:left;padding:0;}
.tp-news .k2Pagination ul li{float:left;padding-right:14px;}
.tp-news .k2Pagination ul li span{padding:0;border:0;background:transparent;}
.tp-news .k2Pagination ul li a{background: 0;border: 0;margin: 0;line-height: 1.9em; padding: 0;}
.tp-news div.k2Pagination ul li a:hover{background: 0;}
.tp-news .itemIntroText{color: #444444;font-size:12px;font-weight:normal;line-height:inherit;padding:0;}
.tp-news .itemBody{font-size:12px;font-family:tahoma;}

/* k2 - buy a policy */
.k2-buy-a-policy{float:left;width:29%;padding-right:4%;}
.k2-buy-a-policy img{width:100%;height:auto;}

/*k2 - claims landing page */
.k2-claims-landing-page{float:left;width:21%;padding-right:4%;}

/* k2 - resource center landing page */
.k2-resource-center-landing-page{float:left;width:29%;padding-right:4%;height:320px;}

/* k2 - column 5 - responsive */
.column-5a{float:left;width:19%;padding-right:1%;}
.column-5b{float:left;width:19%;padding-right:1%;}
.column-5c{float:left;width:19%;padding-right:1%;}
.column-5d{float:left;width:19%;padding-right:1%;}
.column-5e{float:left;width:19%;padding-right:1%;}

/* AKEEBA RELEASE SYSTEM - DOWNLOAD */
.akeeba-bootstrap{margin-bottom:40px;}
.akeeba-bootstrap h2.componentheading{font-size:30px;font-family:oxygen-regular;margin:0 0 15px;line-height: 35px;}
.akeeba-bootstrap .ars-browse-releases{line-height:20px;margin-bottom:40px;}

.akeeba-bootstrap ul.menu{padding:0 0 10px 0;margin:0 0 10px 0;border-bottom:1px solid #e0e0e0;}
.akeeba-bootstrap ul.menu li{list-style:none;display:inline-block;margin-right:15px;}
.akeeba-bootstrap ul.menu li a{font-family:tahoma;font-weight:bold;font-size:15px;display:block;padding:5px 15px;color:#2c2c2c;text-decoration:none;}
.akeeba-bootstrap ul.menu li.active a,
.akeeba-bootstrap ul.menu li a:hover{background-color:#19b55e;border-radius:5px 5px 5px 5px;color:#fff;}

.akeeba-bootstrap .ars-releases{}
.akeeba-bootstrap .ars-releases .module{padding:10px 15px;}
.akeeba-bootstrap .ars-releases .module:nth-child(2n){background-color: transparent!important;}
.akeeba-bootstrap .ars-releases h3{float:left;margin:0;}
.akeeba-bootstrap .ars-releases h3 a{font-family:tahoma;font-weight:bold;font-size:13px;color:#2c2c2c;}
.akeeba-bootstrap .ars-releases .custom{float:right;}
.akeeba-bootstrap .ars-releases .custom a.readon{display:block;background-color:#006cb7;color:#fff;padding:5px 15px;border-radius:5px 5px 5px 5px;font-family:oxygen-bold;font-size:11px;}

.akeeba-bootstrap #ars-pagination{margin:0;padding:0;border:0;}

/* CONTACT US - FORM */
.contact-miscinfo{margin-bottom:30px;}
.contact-form .lefty{float:left;width:49%;}
.contact-form .righty{float:left;width:49%;}

.contact-form .control-group{margin-bottom:10px;}
.contact-form .control-label{font-family:tahoma;font-size:13px;font-weight:bold;float:left;width:125px;line-height:18px;}
.contact-form .controls{}
.contact-form .all-buttons{padding-left:125px;}
.popover.fade.right.in{background: #FEFDE2; font-size: 0.8em; padding: 5px; border: solid 1px #ddd; border-radius: 3px; box-shadow: 0 1px 5px #ccc;max-width: 200px;white-space: none;}
.popover-title{
	font-weight: bold;
	margin:0;
}

/* CONTACT US - DETAILS */
.custom-taiping-contact-us-detail{padding:50px 0;line-height:18px;}
.custom-taiping-contact-us-detail table tr td{line-height:20px;}
.custom-taiping-contact-us-detail a{color:#006cb7;text-decoration:none;}
.custom-taiping-contact-us-detail .column-1{float:left;width:250px;margin:0 5px 10px 0;}
.custom-taiping-contact-us-detail .column-2{float:left;width:250px;}
.custom-taiping-contact-us-detail .contact-us-google-map{position: absolute; top: 50px; right: 50px;}

/* Quotation Form */
.quotation-form{}
.quotation-form .control-group{margin-bottom:10px;}
.quotation-form .control-label{font-family:tahoma;font-size:13px;font-weight:bold;float:left;width:285px;line-height:18px;}
.quotation-form .controls{float:left;width:60%;}
.quotation-form .all-buttons{padding-left:285px;}
.quotation-form .controls .btn{background:url('../images/calendar_20x20.png') no-repeat;width:20px;height:20px;border:0;} /* calendar */
.quotation-form h2{margin:30px 0;}
.quotation-form{}
.quotation-form{}

/* Feedback */
.contact h1{font-family:oxygen-regular;font-size:25px !important;margin-bottom:10px;}

/* FOOTER MENU */
/* Footer box 1 */
.taiping-footer-mainmenu{margin-bottom:20px;}
.taiping-connect-with-us img{display:block;}

#footer-menu-main{font-family:oxygen-bold;font-size:14px;margin:0;padding:0;}
#footer-menu-main li{border:0 !important;margin:0;list-style:none;padding-bottom:10px;}
#footer-menu-main li a{padding:0 0 6px 0;font-weight:normal;color:#006cb7;}
#footer-menu-main li a:hover{border:0;}
#footer-menu-main li a, 
#footer-menu-main li .item, 
#footer-menu-main li .separator {font-size:14px;}

#footer-menu-sub{list-style-type:none;margin:0;padding:0;}
#footer-menu-sub li{border:0 !important;margin:0;padding-bottom:10px;}
#footer-menu-sub li a{padding:0 0 6px 0;font-weight:normal;}
#footer-menu-sub li a:hover{border:0;}
#footer-menu-sub li a, 
#footer-menu-sub li .item, 
#footer-menu-sub li .separator {font-size:13px;}
#footer-menu-sub li.parent{padding:0;}
#footer-menu-sub li.parent > a{font-family:tahoma;font-weight:bold;text-decoration:none;}
#footer-menu-sub li.parent > ul{margin:10px 0 0 0;padding:0;list-style-type:none;}

#footer-menu-sub li .nav-header {font-size: 13px;font-weight: bold;}
/* Copyright */
#copyright{/*padding:15px 0*/;line-height:18px;padding:0 0 18px;}
#copyright .lefty{float:left;max-width:760px;margin-top:5px;}
#copyright .righty{float:right;max-width:190px;}

#copyright-text{color:#606060;font-family:tahoma;font-size:12px;float:left;margin-right:10px;}
#copyright-menu{float:left;}
#copyright-menu-main{margin:0;padding:0;}
#copyright-menu-main li{border:0 !important;margin:0;display:inline-block;padding-right:10px;}
#copyright-menu-main li a{padding:0 0 6px 0;font-weight:normal;font-family:tahoma;text-decoration:underline;}
#copyright-menu-main li a:hover{border:0;}
#copyright-menu-main li a, 
#copyright-menu-main li .item, 
#copyright-menu-main li .separator {font-size:12px;color:#606060;}

#best-viewed-footer{color: #606060;font-family: tahoma;font-size: 12px;}

/* Accordion Module */
.itemFullText .moduletable h3{
	font-weight: bold;
	font-size:13px;
	padding-left: 15px !important;
	background-image: url(../images/acc_arrow.png);
	background-repeat: no-repeat;
	padding-top: 5px !important;
	padding-right: 0px !important;
	padding-bottom: 5px !important;
	background-position: left center;
	vertical-align: middle;
}

/* Search - Components */
.search{font-family:tahoma;font-size:12px;}
.search h1.page-title{font-family:oxygen-regular;font-size:30px;}
.search .searchintro{margin:0;}
.search input[type="text"]{border-radius: 5px 5px 5px 5px;color: #7B7B7B;font-size: 12px;font-style: italic;padding:11px 20px;float:left;border:0;margin-right:10px;background-color:#eee;margin-bottom:10px;}
.search fieldset{margin:0;padding:0;}
.search legend{margin:0;padding:0;}
.search fieldset label{margin:0 10px 0 0;}
.search fieldset.only{border:0; display:none;}
.search dt.result-title{padding:0;}
.search dt.result-title a{font-family:oxygen-bold;padding:0;}
.search dd.result-category{padding:0;display:none;}
.search dd.result-text {line-height:18px;padding:0 0 10px 0;}
.search dd.result-created{display:none;}
.search button.btn{background-color:#006CB7 !important;color:#fff;border:0;border-radius:5px;height:35px;}

.search .pagination{text-align:right;}
.search .pagination ul li{margin-left:10px;}
.search .pagination ul li span, 
.search .pagination ul li a{border:1px solid #ccc;}

.k2-item-taiping-search-mobile{display:none;}

.contact{margin-bottom:10px;}
.contact-form{max-width:980px;}
.contact-form fieldset{padding:0;margin:0;}





/* responsive */
#mobile_select h2 {border:0; margin:-17px 0 0 0; padding:0; background:#0C1D43;text-align:right}
#mobile_select h2 a {
display:inline-block;
font-size:0.8em;
border-radius:4px 4px 0 0;
padding:6px;
font-size:0.75em;
margin-right:5px;
}



@media (max-width: 767px) {
	html,body{width:100%;min-width:320px;height: 100%;margin: 0px;padding: 0px;overflow-x:hidden;}
	/*body{overflow-x:hidden;}*/
	.white-bg{overflow-x:hidden;}
	.grey-bg1{overflow-x:hidden;}
	
	#k2Container{padding:0 10px !important;}
	
	#roksearch_results{display:none;}
	
	.rt-top{padding:0 0 10px;}
	#back{padding:0;}
	ul#taiping-menu{display:none;}
	img {max-width: 100%;height: auto;border: 0;-ms-interpolation-mode: bicubic;}
	.rt-mainmenu {height:38px;}
	
	/*.taiping-homepage-banner-desktop{display:none;}
	.taiping-homepage-banner-mobile{display:block;}*/

	.taiping-k2-article-homepage-mobile{display:block;margin-bottom:40px;}
	.taiping-k2-article-homepage{display:none;}
	
	#breadcrumbs {font-family:tahoma;font-size:12px;padding:10px;}

	#fontsize{display:none}
	#nav,#wrapper2,#wrapper,.cols-3 .column-1,.cols-3 .column-2,.cols-3 .column-3,#right,#header form
		{
		float: none;
		width: 100%
	}
	#header {padding:1em 10px 0 10px;}
	#header form  {margin:0}
	.logoheader {background:#0C1D43; min-height:100px; margin:0}
	.box {margin:0;}
	.megamenu-wrapper{display:none !important;}
	#line {
		text-align: center;
		top: 0;
		right: auto;
		max-width: 100% ;
		min-width:100%;

		margin: 0 0px; background:#095197;
	}
	#header form input {float: none; margin-bottom:4px}
	#menuwrapper { margin-top:10px; }
	#header ul.menu {position:relative; top:0;left:20px; right:20px; margin:0; width:90%; border-radius:4px}
	#header ul.menu li:first-child a {border-radius: 4px 4px 0 0}
	#header ul.menu li:last-child a {border-radius:0 0 4px 4px }
	#header ul.menu li a:link,
	#header ul.menu li a:visited {
		display: block;
		padding: 6px 10px;
		border-bottom: solid 1px #ccc
	}
	
	.logoheader {background: url(../images/logo_small.png) no-repeat left top;width:240px;height:90px;}
	.logoheader img{display:none;} /* normal size */
	#navigation-top{display:none;float:none;}
	#search-btn-action{display:none;}
	
	#hpf-mobile{display:block;}
	#taiping-main-menu-mobile{display:block;}
	#taiping-main-menu-mobile ul{margin:0;padding:0;}
	
	.taiping-your-world .module-title h2.title{font-size:22px;}
	.taiping-your-world .module-content {line-height:18px;}
	.tpyourworld-btn{display:none;} /* Your World - Our Insurance Buttons Left or Right */
	.homepage-featured-your-world{display:none;} /* Your World - Our Insurance Article - desktop version - vanished */
	
	/* dj imageslider */
	.djslider-loader{overflow:hidden;width:100%;}
	.navigation-container-custom {right:10px !important;}
	
	.taiping-news-headline{display:none;}
	
	.taiping-k2-article-homepage{display:none;}
	.taiping-k2-article-homepage-mobile ul.sprocket-lists-container{margin:0 auto;width:200px;} /* only 1 piece */
	.taiping-k2-article-homepage-mobile ul.sprocket-lists-container li{width:200px;}
	
	.taiping-homepage-tabs{overflow-x:hidden;}
	.taiping-homepage-tabs ul{padding-left:5px !important;}
	.taiping-homepage-tabs ul li{display:inline-block;font-size:14px;}
	
	.taiping-homepage-banner-mobile .slide-desc{top:200px;}
	.taiping-homepage-banner-mobile .navigation-container-custom {background-color: #000000;border-radius: 5px 5px 5px 5px;bottom:55%;opacity: 0.5;padding: 5px 10px;right: 10px !important;top: auto !important;}
	.slide-desc {bottom: 10px !important;left: 0 !important;top: 13%;width: auto !important;position:static !important;}
	
	.tp-acymailing{background-color:#d8d8d8;padding:5px;overflow-x:hidden;}
	.tp-acymailing .left{float:none;width:95%;font-size:15px !important;}
	.tp-acymailing .right{float:none;width:95%;}

	#taiping-homepage-below {padding: 32px 0 0 0;}
	
	
	.acymailing-taiping {margin:0px;}

	.acymailing_form p {float:none;}
	.acymailing_form p.fieldacyname {width: 100%;}
	.acymailing_form p.fieldacyemail {width: 100%;}
	
	.acymailing_moduleacymailing-taiping {float: none;}
	.taiping-search-mobile{display:block;}
	
	.searchtaiping-search-mobile{background-color:#f1f1f1;padding:20px 10px;}
	.searchtaiping-search-mobile label{display:none}
	.searchtaiping-search-mobile input[type="text"]{border-radius: 5px 5px 5px 5px;color: #7B7B7B;font-size: 12px;font-style: italic;padding:12px 20px;width:67%;float:left;border:0;}
	.searchtaiping-search-mobile input.button{float:left;margin:0 0 0 5px;}
	
	.taiping-homepage-tabs ul {padding-bottom: 10px !important;}
	.taiping-homepage-tabs #promotions .sprocket-lists-item .sprocket-padding {padding:0px;}
	.taiping-homepage-tabs #news .sprocket-lists-item .sprocket-padding {padding:5px;}
	.taiping-homepage-tabs #useful-tips .sprocket-lists-item .sprocket-padding {padding:5px;}

	.taiping-homepage-tabs #promotions h4.sprocket-lists-title {font-size:11px !important;}
	
	.taiping-homepage-tabs ul.sprocket-lists-container{margin-bottom:25px;border-spacing:0;display:inherit;}
	.taiping-homepage-tabs ul.sprocket-lists-container li {display:block;width:100%;min-height:0;padding:5px;float:left !important;}
	.taiping-homepage-tabs .sprocket-lists-image {float:left;width:140px;padding-right:10px;}
	/*.homepage-promotion-tab {height:auto;padding:7% 2% 0 0;}*/
	
	#footer-outer{background:url('../images/footer-mobile-bg.png') repeat-x top left #fff;border-top:9px solid #00ae4d;}
	#footer-inner {min-height: 304px;padding: 45px 20px 35px;}
	#footer-inner .box2,
	#footer-inner .box3,
	#footer-inner .box4,
	#footer-inner .box5{display:none;}
	#footer-inner .box1{width:50%;}
	#footer-inner .box2mob{width:50%;display:block;}
	#copyright{padding:0 0 10px 0;}
	#copyright-text{float:none;}
	#copyright-menu{float:none;margin-top:15px;}
	#copyright .lefty {float:none;margin-bottom:20px;}
	#copyright .righty {float:none;margin-bottom:20px;}
	
	/* k2 category */
	.tp-taiping .itemListCategoriesBlock {margin:0;}
	.tp-taiping .itemListCategory {padding:10px;margin:0;}
	.tp-taiping .itemListCategory h2 {font-size:25px !important;margin-bottom:10px;}
	.tp-taiping .itemContainer {padding: 0 1% 10px 1%;width:48% !important;min-height:430px;}
	.tp-taiping .catItemView {min-height:inherit;margin:0 !important;}
	.tp-taiping h3.catItemTitle{margin:0;}
	.tp-taiping h3.catItemTitle a {/*color: #2D2D2D;*/ color:#666666; font-family: oxygen-regular;font-size: 18px;}
	.tp-taiping div.catItemBody {padding:10px;}
	.tp-taiping .catItemReadMore {display: block;margin:0;padding:0 10px;position:inherit;bottom:0;text-align:right;}
	
	/* k2 content */
	.tp-taiping {margin:0 !important;}
	.tp-taiping .itemBody {padding:0 10px;}
	.tp-taiping .itemImageBlock {float:none;margin:0;padding: 0;}
	.tp-taiping span.itemImage img {/*width:100% !important;*/}
	.tp-taiping .itemBody h2.itemTitle {font-family: oxygen-regular;font-size: 24px;line-height: 35px;margin: 0 0 15px;width:100%;font-weight:normal;}
	.tp-taiping div.itemIntroText {width:100%;}
	.tp-taiping .itemRightBlockExtraField {background:transparent;height:inherit;position: relative;right: 0;top:0;width:100%;margin-bottom:25px;}
	.tp-taiping .itemRightBlockExtraField .itemExtraFieldsLabel {color: #FFFFFF;font-family: oxygen-bold;font-size: 13px;padding:5% 4%;text-align: center;}
	.tp-taiping .itemRightBlockExtraField  .itemExtraFieldsButton{width:200px;border-radius:5px 5px 5px 5px;float:none;margin-bottom:15px;}
	.tp-taiping .item-for-more-info-left{float:none;width:100%;margin-bottom:20px;}
	.tp-taiping .item-for-more-info-left .itemExtraFields h3 {padding:0 0 15px 0;}
	.tp-taiping .item-for-more-info-left .itemExtraFields .itemExtraFieldsLabel {background:transparent;float:none;font-weight: bold;margin: 0;padding:0;width:100%;}
	.tp-taiping .item-for-more-info-left .itemExtraFields .itemExtraFieldsValue {background:transparent;float:none;padding:0;width:100%;}	
	.tp-taiping .item-for-more-info-left div.itemExtraFields ul li {display: block;background-color:#fff;margin-bottom:5px;padding:12px 5%;}
	.tp-taiping .item-share-this-right{float:none;width:100%;margin-bottom:20px;}
	.tp-taiping .nn_tabs .tab-content {padding:0;overflow-y:hidden;}
	.tp-taiping .nn_tabs .tab-content ul{padding:0 0 0 20px;}
	.tp-taiping .nn_tabs .tab-content ul li{}
	.tp-taiping .nn_tabs .nntabs-mobile-layout{display:block !important;}
	.tp-taiping .nn_tabs ul#set-nn_tabs-1{margin:0;}
	.tp-taiping .nn_tabs ul#set-nn_tabs-1 li a{border-radius:0 0 0 0 !important;margin:0 !important;}
	.tp-taiping .nn_tabs ul#set-nn_tabs-1 li.active{display:none;}
	.tp-taiping .itemRelated{margin:30px 10px;font-family:tahoma;}
	.tp-taiping .itemRelated ul li{margin:0;width:30%;}
	
	/* search - components */
	.search{padding:0 10px;}
	.search input[type="text"]{width:48%;}
	.search button{min-width:96px;}
	.search .pagination ul li {margin-left:2px;}
	.search .pagination ul li span,
	.search .pagination ul li a{padding:0 3px;}
	
	/* contact us - components */
	.contact{padding:0 10px;}
	.contact h1{font-family:oxygen-regular;font-size:25px !important;}
	.contact{}
	.contact{}
	.contact{}
	.contact{}
	.contact{}
	.contact{}
	
	.contact-form fieldset{padding:0;}
	.contact-form input[type="text"], 
	.contact-form input[type="email"], 
	.contact-form textarea,
	.contact-form select{width:47%;}
	.contact-form .control-label{}
	.contact-form .all-buttons{margin:0;}
	
	.custom-taiping-contact-us-detail {}
	.custom-taiping-contact-us-detail{padding:20px 10px;line-height:18px;}
	.custom-taiping-contact-us-detail table tr td{line-height:20px;}
	.custom-taiping-contact-us-detail a{color:#006cb7;text-decoration:none;}
	.custom-taiping-contact-us-detail iframe{width:200px !important;height:200px !important;}
	.custom-taiping-contact-us-detail .column-1{float:left;width:49%;margin:0 5px 10px 0;}
	.custom-taiping-contact-us-detail .column-2{float:left;width:49%}
	.custom-taiping-contact-us-detail .contact-us-google-map{position:inherit;top:20px;}
}

/*@media (min-width: 481px) and (max-width:767px) {
	.logoheader {background: url(../images/logo_small.png) no-repeat left top;width:240px;height:90px;}
	.logoheader img{display:none;}
	.megamenu-wrapper{display:none !important;}
	.rt-mainmenu {height:38px;}
	ul#taiping-menu{display:none;}
	.box {margin:0;}
	
	#taiping-main-menu-mobile{display:block;}
	
	#navigation-top{display:none;float:none;}
	#search-btn-action{display:none;}
	.taiping-news-headline{display:none;}
	.taiping-k2-article-homepage{display:none;}
	
	.slide-desc{bottom:inherit !important;top:0%;left:2% !important;width:auto !important;}
	.slide-desc span{line-height:1em;}
	.slide-text{margin-bottom:2%;}
	.navigation-container-custom{right:10px !important;}
	
	.taiping-homepage-tabs ul li{display:inline-block;font-size:14px;}
	.taiping-search-mobile{display:block;}
	
	#footer-inner {min-height: 304px;}
	#footer-inner .box2,
	#footer-inner .box3,
	#footer-inner .box4,
	#footer-inner .box5{display:none;}
	#footer-inner .box1{width:50%;}
	#footer-inner .box2mob{width:50%;display:block;}
	
	#copyright-text{float:none;}
	#copyright-menu{float:none;margin-top:15px;}
	
}
*/
@media (max-width: 320px) {
	/*html, body { padding: 0; margin: 0; width: 100%; height: 100%; overflow: hidden; }*/ /*div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: auto; }*/
	.homepage-promotion-tab {height:auto;padding:4% 2% 0 0;}
	
	/* k2 category */
	.tp-taiping .itemContainer {min-height:380px;}
	
	.custom-taiping-contact-us-detail .column-1{float:none;width:auto;margin:0 0 10px 0;}
	.custom-taiping-contact-us-detail .column-2{float:none;width:auto;margin:0 0 10px 0;}
	
	.tp-taiping .itemRelated ul li {display:block;margin:0 auto 10px auto;width:220px;}
	
	.contact-form fieldset{padding:0;}
	.contact-form input[type="text"], 
	.contact-form input[type="email"], 
	.contact-form textarea,
	.contact-form select{width:77%;}
	
	.contact-form .all-buttons{padding:0;}
	
	/* k2 - buy a policy */
	.k2-buy-a-policy{float:none;width:100%;padding:0;}
	
	/* k2 - claims landing page */
	.k2-claims-landing-page{float:none;width:100%;padding:0;}

	/* k2 - resource center landing page */
	.k2-resource-center-landing-page{float:none;width:100%;padding:0;}
	
	/* k2 - column 5 - responsive */
	.column-5a{float:none;width:100%;padding-right:0%;}
	.column-5b{float:none;width:100%;padding-right:0%;}
	.column-5c{float:none;width:100%;padding-right:0%;}
	.column-5d{float:none;width:100%;padding-right:0%;}
	.column-5e{float:none;width:100%;padding-right:0%;}
	
	.akeeba-bootstrap{padding:0 10px;}
	.akeeba-bootstrap ul.menu li {margin-right:1px;}
	.akeeba-bootstrap ul.menu li a {padding:5px 5px;font-size:13px;}
	.akeeba-bootstrap .ars-releases h3 {float:left;width:60%;padding-right:1%;}
	.akeeba-bootstrap .ars-releases .custom {float:right;width:39%;}
	.akeeba-bootstrap .ars-releases .custom a.readon {padding:5px;text-align:center;}
}

@media (min-width:321px) and (max-width: 480px) {
	.homepage-promotion-tab {height:auto;padding:6% 2% 0 0;}
	
	.tp-taiping .itemContainer {min-height:370px;}
	.tp-taiping .itemRelated ul li {display:block;margin:0 auto 10px auto;width:220px;}
	
	/* k2 - buy a policy */
	.k2-buy-a-policy{float:none;width:100%;}
	.k2-buy-a-policy img{width:80%;}
	
	/* k2 - claims landing page */
	.k2-claims-landing-page{float:none;width:100%;padding:0;}

	/* k2 - resource center landing page */
	.k2-resource-center-landing-page{float:none;width:100%;padding:0;}
	
	/* k2 - column 5 - responsive */
	.column-5a{float:none;width:100%;padding-right:0%;}
	.column-5b{float:none;width:100%;padding-right:0%;}
	.column-5c{float:none;width:100%;padding-right:0%;}
	.column-5d{float:none;width:100%;padding-right:0%;}
	.column-5e{float:none;width:100%;padding-right:0%;}
	
	.akeeba-bootstrap{padding:0 10px;}
	.akeeba-bootstrap ul.menu li {margin-right:1px;}
	.akeeba-bootstrap ul.menu li a {padding:5px 5px;font-size:13px;}
	.akeeba-bootstrap .ars-releases h3 {float:left;width:60%;padding-right:1%;}
	.akeeba-bootstrap .ars-releases .custom {float:right;width:39%;}
	.akeeba-bootstrap .ars-releases .custom a.readon {padding:5px;text-align:center;}
	
}

@media (min-width:481px) and (max-width: 767px) {
	.homepage-promotion-tab {height:auto;padding:5% 2% 0 0;}
	
	.tp-taiping .itemContainer {min-height:370px;}
	.tp-taiping .itemRelated ul li {display:block;margin:0 auto 10px auto;width:220px;}
	
	/* k2 - buy a policy */
	.k2-buy-a-policy{float:left;width:48%;padding:0 2% 0 0;}
	
	/* k2 - claims landing page */
	.k2-claims-landing-page{float:left;width:48%;padding:0 2% 0 0;}

	/* k2 - resource center landing page */
	.k2-resource-center-landing-page{float:left;width:48%;padding:0 2% 0 0;}

	.akeeba-bootstrap{padding:0 10px;}
}

@media (min-width: 768px) and (max-width:959px) {
	.logoheader img{width:350px;height:50px;} /* normal size */
	ul#taiping-menu li{margin:20px 1.9% 20px 0 !important;} 
	.slide-desc{bottom:inherit !important;top:0%;left:2% !important;width:auto !important;}
	.slide-desc span{line-height:1em;}
	.slide-text{margin-bottom:2%;}
	.navigation-container-custom{right:10px !important;}
	.taiping-news-headline{display:none;}

	.tp-taiping div.itemIntroText{width:69%;}
	.taiping-homepage-tabs ul.sprocket-lists-container li {width:23.9%;}
	.taiping-homepage-tabs .sprocket-lists-image {width:100%;}
	
	
	.box1 {width:18%;}
	.box2{width:18%;}
	.box3 {width:18%;}
	.box4 {width:18%;}
	.box5 {width:18%;}

	.megamenu img{width:100%;height:auto;}
	
	.tp-acymailing {padding: 20px 10px;}
	.tp-acymailing .left{float:left;width:23%;}
	.tp-acymailing .right{float:right;width:76%;}

	.acymailing-taiping .module-surround {margin: 0 20px;padding: 20px 0;}
	.acymailing_form p.fieldacyemail {margin-right: 20px;width: 40%;}
	
	#footer-inner{min-height:374px;padding:30px 10px;}
	
	#copyright{padding:0 0 15px 0;line-height:18px;}
	#copyright .lefty{clear:both;float:none;margin-bottom:15px;}
	#copyright .righty{clear:both;float:none;}

	.k2-item-taiping-search-mobile{display:none;}
	/* k2 category */
	.tp-taiping .itemListCategoriesBlock {margin:0;}
	.tp-taiping .itemListCategory {padding:10px;margin:0;}
	.tp-taiping .itemListCategory h2 {font-size:25px !important;margin-bottom:10px;}
	.tp-taiping .itemContainer {padding: 0 1% 10px 1%;width:48% !important;min-height:430px;}
	.tp-taiping .catItemView {min-height:inherit;margin:0 !important;}
	.tp-taiping h3.catItemTitle{margin:0;}
	.tp-taiping h3.catItemTitle a {color: #2D2D2D;font-family: oxygen-regular;font-size: 18px;}
	.tp-taiping div.catItemBody {padding:10px;}
	.tp-taiping .catItemReadMore {display: block;margin:0;padding:0 10px;position:inherit;bottom:0;text-align:right;}
	
	/* k2 detail */
	.tp-taiping .nn_tabs ul#set-nn_tabs-1 li{display:inline-block;}
	.tp-taiping .item-for-more-info-left{float:none;width:100%;margin-bottom:20px;}
	.tp-taiping .item-for-more-info-left .itemExtraFields h3 {padding:0 0 15px 0;}
	.tp-taiping .item-for-more-info-left .itemExtraFields .itemExtraFieldsLabel {background-color:#fff;float:left;font-weight: bold;margin: 0;padding:1%;width:15%;margin-right:10px;}
	.tp-taiping .item-for-more-info-left .itemExtraFields .itemExtraFieldsValue {background-color:#fff;float:left;padding:1%;width:40%;}	
	.tp-taiping .item-for-more-info-left div.itemExtraFields ul li {display: block;margin-bottom:5px;}
	.tp-taiping .item-share-this-right{float:none;width:100%;margin-bottom:20px;}


	/* contact us */
	.contact-form input[type="text"], 
	.contact-form input[type="email"], 
	.contact-form textarea,
	.contact-form select{width:57%;}
	
	.custom-taiping-contact-us-detail .contact-us-google-map{position:inherit;top:20px;}
}

@media only screen and (min-width: 960px) {
	
}

@media only screen and (min-width: 1382px) { /* Styles */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(min--moz-device-pixel-ratio: 1.5) , only screen and
	(min-device-pixel-ratio: 1.5) { /* Styles */
}
